.App {
    text-align: center;
}

body {
    background: #edf0f1;
    padding: 5rem 0 0 0;
}

body, input, button {
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 40%;
    height: 5rem;
    margin: 0 auto;
    display: flex;
    position: relative;
    padding: 1rem;
    top: 0;
    left: 0;
}

.header input {
    width: 100%;
    height: 3rem;
    float: left;
    font-size: 1rem;
    font-weight: 400;
    text-indent: 1rem;
    background: rgba(255, 255, 255, 0.2);
}

.header .glyphicon {
    top: 1rem;
    left: .5rem;
}

.container {
    width: 100%;
    float: left;
    padding: 15px;
}

ul.todo {
    width: 100%;
}

ul.todo li {
    position: relative;
    width: 100%;
    min-height: 3rem;
    float: left;
    font-weight: 500;
    color: #444;
    line-height: 1rem;
    list-style: none;
}

ul.todo li .glyphicon {
    left: .25rem;
    right: .25rem;
    margin: .25rem;
}

ul.todo li .completed {
    text-decoration: line-through;
}

ul.todo li.edit {
    display: block;
    width: calc(100% - 43px);
    padding: .5rem 1rem;
    margin: 0 0 0 2rem;
}

ul.todo li.view {
    display: none;
}


